@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,700');

.quiz_invisible
{
    //display: none;
}

.quiz_visible
{
    opacity: 1;
}

.quiz_link
{
    display: block;
    margin-top: 46px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 19px;
    color: rgb(9,141,114);
    text-decoration: none;
}

.quiz_link:hover
{
    color: rgb(5,80,80);
}

.quiz_link_underlined
{
    text-decoration: underline;
}

.quiz_dark
{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
    background: rgba(0,0,0,0.5);
    z-index: 950;
}


.quiz_container
{
    position: fixed;
    width: 660px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 10px;
    background: rgb(255,255,255);
    padding-bottom: 50px;
    z-index: 951;
}

.quiz_button_cross
{
    position: absolute;
    top: 32px;
    right: 28px;
    width: 24px;
    height: 24px;
    background: url(../images/cross.png) no-repeat;
    cursor: pointer;
}

.quiz_button_send
{
    display: inline-block;
    margin-top: 50px;
    width: 220px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    background: rgb(21,169,140);
    color: rgb(245,245,245);
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    transition: .3s;
    cursor: pointer;
}

.quiz_box
{
    display: inline-block;
    margin: 0 auto;
    width: 82%;
    text-align: left;
    background: rgb(255,255,255);
}

.quiz_caption
{
    margin-top: 45px;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    color: rgb(51,51,51);
    text-align: center;
    background: rgb(255,255,255);
}

.quiz_label_url
{
    display: block;
    text-align: left;
    margin-top: 37px;
    width: 100%;
    background: rgb(255,255,255);
}

.quiz_label_title
{
    display: block;
    text-align: left;
    margin-top: 27px;
    width: 100%;
    background: rgb(255,255,255);
}

.quiz_label_caption
{
    display: inline-block;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(51,51,51);
    text-align: left;
}

input[type="radio"]
{
    display: inline-block;
    float: left;
    margin: 0;
    cursor: pointer;
}

input
{
    border: 2px solid rgb(201,201,201);
    font-family: 'Open Sans', sans-serif;
    color: rgb(85,85,85);
    font-size: 18px;
    -webkit-border-radius: 5px;
    height: 50px;
    padding: 7px 15px 7px 15px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin-top: 6px;
    transition: .3s;
    max-width: 100%;
}

.quiz_red_border
{
    border: 2px solid rgb(255,0,0);
}

input:hover
{
    border: 2px solid rgb(170,170,170);
    outline: 0;
    transition: .6s;
}

input:focus
{
    border: 2px solid rgb(21,169,140);
    outline: 0;
    transition: .3s;
}

input[type="text"]
{
    width: 100% ;
}

input[type="submit"]
{
    margin: 45px auto 0 0;
    width: 220px;
    height: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    background: rgb(21,169,140);
    color: rgb(245,245,245);
    text-decoration: none;
    line-height: 38px;
    text-align: center;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    border: 0px;
    cursor: pointer;
}

input[type="submit"]:hover
{
    width: 225px;
    height: 50px;
    background: rgb(1,149,120);
    color: rgb(255,255,255);
}

/*-------------------------- МЕДИАЗАПРОСЫ ---------*/
@media (max-width: 750px)
{
    .quiz_container
    {
        width: 90%;
    }
}