@charset "utf-8";

*
{
    margin: 0;
    padding: 0;
}

body
{
    background: rgb(238,238,238);
}

.out_info1
{
    position: absolute;
    top: 10px;
    left: 10px;
    text-align: left;
    //background: rgb(150,250,240);
    font-family: verdana, tahoma, arial, helvetica, sans-serif, serif;
    font-size: 12px;

}

.out_info2
{
    position: absolute;
    top: 10px;
    right: 20px;
    width: 250px;
    height: 30px;
    text-align: left;
    //background: rgb(150,250,240);
}

.out_info3
{
    position: absolute;
    top: 50px;
    right: 20px;
    width: 250px;
    height: 30px;
    text-align: left;
    //background: rgb(150,250,240);
}

.translucent_pattern_page
{
    position: absolute;
    width: 1920px;
    height: 764px;
    top: 0px;
    left: 0px;
    opacity: 0.2;
    z-index: -1;
}

.translucent_container_page
{
    opacity: 0.6;
    height: 0px;
    position: absolute;
    width: 1920px;
    text-align: center;
    max-width: 100%;
}

.modal_container
{
    display: none;
    position: absolute;
    top: 30px;
    width: 300px;
    height: 380px;
    left: 50%;
    margin-left: -150px;
    background: rgb(250,250,240);
    text-align: center;
    padding-top: 10px;
    border-radius: 5px;
    border: solid 1px rgb(200,200,200);
    font-family: verdana;
    font-size: 16px;
    color: rgb(100,100,100);
    z-index: 999;
}
    
.gambler_out
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.button_modal
{
    margin-top: 280px;
    margin-bottom: 10px;
}

.modal_active
{
    display: block;
}

.header
{
    margin: 0 auto;
    width: 534px;
    line-height: 58px;
    box-sizing: border-box;
    padding-left: 20px;
    background: rgb(33,33,33);
    text-align: left;
    font-family: verdana, tahoma, arial, helvetica, sans-serif, serif;
    font-size: 18px;
    color: rgb(255,255,255);
    box-shadow: 0px 5px 5px rgba(0,0,0,0.4);
}

.gambler_one
{
    position: relative;
    width: 486px;
    margin: 17px auto 0;
    height: 30px;
    line-height: 30px;
    box-sizing: border-box;
    text-align: left;
    font-family: verdana, tahoma, arial, helvetica, sans-serif, serif; 
    font-size: 14px;
    color: rgb(31,31,31);
    //background: rgb(29,29,209);
}

.box_line
{
    position: relative;
    width: 486px;
    margin: 9px auto 0;
    height: 1px;
    box-sizing: border-box;
}

.line_horizon
{
    position: absolute;
    width: 330px;
    height: 1px;
    background: rgb(209,209,209);
    //background: rgb(0,0,255);
    border: none;
}

.list_container
{
    margin: 16px auto 0 auto;
    //width: 487px;
    width: 496px;
    height: 450px;
    //background: rgb(40,240,240);
    text-align: left;
}

.line_playing
{
    position: absolute;
    top: 50px;
    left: 8px;
    right: 8px;
    //color: rgb(130,130,130);
    height: 1px;
    background: rgb(130,130,130);
    border: none;
}

.line_done
{
    position: absolute;
    top: 50px;
    left: 8px;
    right: 8px;
    //color: rgb(189,189,189);
    height: 1px;
    background: rgb(189,189,189);
    border: none;
}

.plaing_gambler_1
{
    position: absolute;
    top: 8px;
    left: 8px;
    right: 20px;
    text-decoration: none;
    font-family: tahoma, arial, helvetica, sans-serif, serif;
    font-size: 16px;
    color: rgb(255,255,255);
    text-align: left;
}

.plaing_gambler_2
{
    position: absolute;
    top: 30px;
    top: 55px;
    left: 8px;
    right: 20px;
    text-decoration: none;
    font-family: tahoma, arial, helvetica, sans-serif, serif;
    font-size: 16px;
    color: rgb(255,255,255);
    text-align: left;
}

.done_gambler_1
{
    position: absolute;
    top: 8px;
    left: 8px;
    right: 20px;
    text-decoration: none;
    font-family: tahoma, arial, helvetica, sans-serif, serif;
    font-size: 16px;
    color: rgb(0,0,0);
    text-align: left;
}

.winner_gambler_1
{
    position: absolute;
    top: 8px;
    left: 8px;
    right: 20px;
    text-decoration: none;
    font-family: tahoma, arial, helvetica, sans-serif, serif;
    font-size: 16px;
    color: rgb(242,153,74);
    text-align: left;
}

.done_gambler_2
{
    position: absolute;
    top: 55px;
    left: 8px;
    right: 20px;
    text-decoration: none;
    font-family: tahoma, arial, helvetica, sans-serif, serif;
    font-size: 16px;
    color: rgb(0,0,0);
    text-align: left;
}

.winner_gambler_2
{
    position: absolute;
    top: 55px;
    left: 8px;
    right: 20px;
    text-decoration: none;
    font-family: tahoma, arial, helvetica, sans-serif, serif;
    font-size: 16px;
    color: rgb(242,153,74);
    text-align: left;
}
.time_game
{
    position: absolute;
    bottom: 5px;
    right: 5px;
    //top: 40px;
    //left: 70px;
    text-decoration: none;
    font-family: tahoma, arial, helvetica, sans-serif, serif;
    font-size: 12px;
    color: rgb(0,0,0);
    text-align: left;
}


.daw_top
{
    position: absolute;
    top: 12px;
    right: 6px;
}

.daw_bottom
{
    position: absolute;
    top: 60px;
    right: 6px;
}


.list_box_sell_ready
{
    position: relative;
    float: left;
    margin-right: 9px;
    margin-bottom: 9px;
    padding: 8px 8px 0 8px;
    height: 115px;
    width: 115px;
    box-sizing: border-box;
    cursor: pointer;
    background: rgb(130,130,130);
    text-decoration: none;
    font-family: tahoma, arial, helvetica, sans-serif, serif;
    font-size: 16px;
    color: rgb(255,255,255);
    text-align: left;
}

.list_box_sell_playing
{
    float: left;
    position: relative;
    margin-right: 9px;
    margin-bottom: 9px;
    padding: 8px 8px 0 8px;
    height: 115px;
    width: 115px;
    box-sizing: border-box;
    cursor: pointer;
    background: rgb(189,189,189);
    text-decoration: none;
    font-family: tahoma, arial, helvetica, sans-serif, serif;
    font-size: 16px;
    color: rgb(255,255,255);
    text-align: left;
}

.list_box_sell_done
{
    position: relative;
    float: left;
    margin-right: 9px;
    margin-bottom: 9px;
    padding: 8px 25px 0 8px;
    height: 115px;
    width: 115px;
    box-sizing: border-box;
    cursor: pointer;
    background: rgb(224,224,224);
    text-decoration: none;
    font-family: tahoma, arial, helvetica, sans-serif, serif;
    font-size: 16px;
    color: rgb(255,255,255);
    text-align: left;
}


.list_box_sell_light
{
    float: left;
    margin-right: 9px;
    margin-bottom: 9px;
    padding: 8px 8px 0 8px;
    height: 115px;
    width: 115px;
    box-sizing: border-box;
    cursor: pointer;
    background: rgb(224,224,224);
    text-decoration: none;
}

.list_box_sell_right
{
    margin-right: 0px;
}

.line_sell
{
    position: relative;
    top: 40px;
    //margin: -8px 0 0 3px;
    //color: rgb(130,130,130);
    height: 1px;
    background: rgb(130,130,130);
    border: none;
}

.list_text_top
{
    position: absolute;
    font-family: tahoma, arial, helvetica, sans-serif, serif;
    font-size: 16px;
    color: rgb(255,255,255);
    text-align: left;
    text-decoration: none;
}

.list_text_bottom
{
    position: relative;
    top: 42px;
    font-family: tahoma, arial, helvetica, sans-serif, serif;
    font-size: 16px;
    color: rgb(255,255,255);
    text-align: left;
    text-decoration: none;
}

.box_button
{
    position: relative;
    width: 486px;
    margin: 0 auto;
    height: 70px;
    box-sizing: border-box;
    //background: rgb(0,0,255);
}

.clear_button
{
    display: block;
    width: 220px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    background: rgb(21,169,140);
    color: rgb(245,245,245);
    text-decoration: none;
    line-height: 56px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    transition: .3s;
    cursor: pointer;
    text-align: center;
}

.clear_button:hover
{
    background: rgb(1,149,120);
    color: rgb(255,255,255);
    transition: .3s;
}

.button_plus
{
    right: 1%;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: rgb(0,150,136);
    position: absolute;
    opacity: 1;
    cursor: pointer;
    line-height: 56px;
    text-align: center;
    color: rgb(255,255,255);
    font-size: 28px;
    font-weight: 600;
    box-shadow: 0px 8px 8px rgba(0,0,0,0.4);
}

#text
{
    margin: 30px auto;
    width: 400px;
    height: 40px;
    background-color: #eee;
    border: 1px groove #9D9A9A;
    text-align: center;
    padding: 15px 0px 15px 0px;
    font-family: verdana, tahoma, arial, helvetica, sans-serif, serif;
    font-size: 1em;
    }

h1
{
    text-align: center;
    margin-top: 50px;
    font-family: verdana, tahoma, arial, helvetica, sans-serif, serif;
}