@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,700');

*
{
    margin: 0;
    padding: 0;
}

body
{
    overflow-x: hidden;
}

.pattern_picture_one
{
    position: absolute;
    width: 1920px;
    height: 3250px;
    margin-bottom: 0px;
    left: -333px;
    opacity: 0.8;
}

.pattern_picture_two
{
    position: absolute;
    width: 1920px;
    height: 320px;
    //margin-bottom: 0px;
    //top: 1928px;
    //top: 0px;
    left: -332px;
    opacity: 0.3;
}

.active
{
    display: block !important;
}

.unactive
{
    display: none !important;
}


/*-------------кнопка button_hamburger------------*/
.button_hamburger
{
    display: none;
    text-decoration: none;
    width: 160px;
    height: 50px;
    line-height: 50px;
    transition: .3s;
    cursor: pointer;

}

.button_hamburger:hover
{
    background: rgb(240,240,240);
    color: rgb(255,255,255);
}

.button_hamburger_icon
{
    margin: 0 0 0 15px;
    vertical-align: middle;
}

.button_hamburger_text
{
    position: relative;
    top:0px;
    left: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    text-decoration: none;
    color: rgb(51,51,51);
    vertical-align: middle;
}

/*-------------кнопка button_cross------------*/
.button_cross
{
    //display: block;
    display: none;
    opacity: 0.99;
    text-decoration: none;
    width: 160px;
    height: 50px;
    line-height: 50px;
    transition: .3s;
    cursor: pointer;
    z-index: 998;
}

.button_cross:hover
{
    background: rgb(240,240,240);
    color: rgb(255,255,255);
}

.button_cross_icon
{
    margin: 0 0 0 15px;
    vertical-align: middle;
}

.button_cross_text
{
    position: relative;
    top:0px;
    left: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    text-decoration: none;
    color: rgb(51,51,51);
    vertical-align: middle;
}

/*----меню----*/
.menu_dark
{
    //opacity: 1;
    //position: fixed;
    display: none;
    position: absolute;
    margin-top: 50px;
    top: 0;
    //left: 0;
    //right: 0;
    //bottom: 0;
    width: 100%;
    height: 4000px;
    cursor: pointer;
    background: rgb(255,255,255);
    z-index: 500;
}

/***** меню *****/
.menu_container
{
    //display: none;
    position: relative;
    width: 960px;
    height: 50px;
    margin: 0 auto;
    z-index: 920;
}

.menu_container_mini
{
    display: none;
    position: relative;
    width: 100%;
    width: 960px;
    height: 50px;
    margin: 0 auto;
    z-index: 920;
}

.menu_button
{
    float: left;
    display: block;
    height: 50px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 19px;
    line-height: 50px;
    text-decoration: none;
    color: rgb(51,51,51);
    background: rgb(255,255,255);
    transition: background .3s;
    z-index: 921;
}

.menu_button:hover
{
    color: rgb(255,255,255);
    background: rgb(21,169,140);
}

.menu_icon_one
{
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(../images/menu_human_one.png) no-repeat;
}

.menu_icon_two
{
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(../images/menu_heart_one.png) no-repeat;
}

.menu_icon_three
{
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(../images/menu_camera_one.png) no-repeat;
}

.menu_icon_four
{
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(../images/menu_plus_one.png) no-repeat;
}

.menu_button_one
{
    width: 140px;
}

.menu_button_two
{
    width: 160px;
}

.menu_button_three
{
    width: 230px;
}

.menu_button_four
{
    width: 210px;
}

.menu_button_one:hover .menu_icon_one
{
    background: url(../images/menu_human_two.png) no-repeat;
    transition: .3s;
}

.menu_button_two:hover .menu_icon_two
{
    background: url(../images/menu_heart_two.png) no-repeat;
    transition: .3s;
}

.menu_button_three:hover .menu_icon_three
{
    background: url(../images/menu_camera_two.png) no-repeat;
    transition: .3s;
}

.menu_button_four:hover .menu_icon_four
{
    background: url(../images/menu_plus_two.png) no-repeat;
    transition: .3s;
}

.menu_text
{
    margin-left: 8px;
}

.float_clear
{
    clear: both;
}

/* верхняя большая картинка */
.top_big_picture
{
    display: block;
    margin: 0 auto;
    width: 1920px;
    height: 400px;
    background: url(../images/top_picture.jpg) no-repeat;
    z-index: 100;
}

/* раздел "обо мне" */
.myself_container
{
    max-width: 960px;
    margin: -190px auto 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.myself_box_left
{
    width: 330px;
    float: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-align: left;
}

.myself_box_right
{
    width: 630px;
    padding-left: 60px;
    float: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-align: left;
}

.my_images
{
    display: inline-block;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

.roll_box
{
    display: inline-block;
    width: 330px;
    text-align: left;
}

.roll_writer_title
{
    margin-top: 40px;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    color: rgb(21,169,140);
    font-weight: 600;
}

.roll_writer_text
{
    margin-top: 12px;
    margin-left: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 19px;
    line-height: 36px;
    color: rgb(85,85,85);
}

.roll_films_title
{
    margin-top: 40px;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    line-height: 32px;
    color: rgb(21,169,140);
    font-weight: 600;
}

.roll_films_text
{
    margin: 12px 0 0 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 19px;
    line-height: 36px;
    color: rgb(85,85,85);
}

.sentence_text
{
    width: 500px;
    margin-top: 26px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 28px;
    line-height: 42px;
    color: rgb(255,255,255);
}

.sentence_autor
{
    margin-top: 11px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: rgb(255,255,255);
}

.myself_title
{
    margin-top: 80px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: rgb(51,51,51);
}

.line_horizon
{
    margin-top: 19px;
    height: 6px;
    width: 60px;
    background: rgb(69,195,170);
    border: none;
    border-radius: 3px;
}

.myself_text
{
    margin-top: 45px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 19px;
    line-height: 32px;
    color: rgb(85,85,85);
}

.hobby_title
{
    margin-top: 40px;
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    color: rgb(51,51,51);
    font-weight: 400;
}

.hobby_text
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 12px;
    font-size: 19px;
    line-height: 32px;
    color: rgb(85,85,85);
}

/*----------контейнер "любимые фильмы" один----------*/
.film_container_one
{
    width: 100%;
    margin: 60px auto 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: rgb(249,249,249);
    text-align: center;
    vertical-align: top;
    padding-top: 32px;
    padding-bottom: 50px;
}

/*----------контейнер "любимые фильмы" два----------*/
.film_container_two
{
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: rgb(249,249,249);
    text-align: center;
    vertical-align: top;
    padding-top: 32px;
    padding-bottom: 50px;
    opacity: 0;
    -webkit-transition: opacity 200ms ease-in;
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in;
}

/*----------общие стили разделов "любимые фильмы"----------*/
.film_invisible
{
    display: none;
}

.film_visible
{
    opacity: 1;
}

.film_title_box
{
    margin: 0 auto;
    width: 1210px;
    text-align: left;
}

.film_title_main
{
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    color: rgb(51,51,51);
    font-weight: 400;
}

.film_box
{
    display: inline-block;
    width: 285px;
    margin: 30px 10px 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-align:left;
    vertical-align: top;
}

.film_image
{
    width: 285px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

.film_title
{
    margin: 20px 0 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: rgb(51,51,51);
}

.film_text
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 28px;
    color: rgb(85,85,85);
}

.film_button_container
{
    background: rgb(255,169,140);
    padding-bottom: 60px;
    text-align: center;
    background: rgb(249,249,249);
}

.film_button
{
    display: inline-block;
    width: 220px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    background: rgb(21,169,140);
    color: rgb(245,245,245);
    text-decoration: none;
    line-height: 50px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    transition: .3s;
    cursor: pointer;
}

.film_button:hover
{
    background: rgb(1,149,120);
    color: rgb(255,255,255);
    transition: .3s;
}

/*----------футер---------*/
.footer
{
    width: 100%;
    margin: 0 auto;
    padding: 30px auto;
    padding-top: 30px;
    padding-bottom: 30px;
    background: rgb(245,245,245);
    text-align: center;
}

.footer_text
{
    margin: 0 auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    color: rgb(85,85,85);
    width: 80%
}

/******************МЕДИАЗАПРОСЫ******************/

/*---------любимые фильмы----------*/
@media (max-width: 1260px)
{
    .film_title_box
    {
        width: 78%;
    }
    .film_box
    {
        width: 37%;
        margin-left: 2%;
        margin-right: 2%;
    }
    .film_image
    {
        width: 100%;
        height: auto;
    }
}

/*----широкий экран----*/
@media (min-width: 1050px)
{
    .menu_container
    {
        display: block;
    }
    .button_hamburger
    {
        display: none !important;
    }
    .button_cross
    {
        display: none !important;
    }
    .menu_dark
    {
        display: none !important;
    }

    
}

/*----узкий экран-----*/
@media (max-width: 1050px)
{
    .menu_container
    {
        display: none;
        width: 100%;
    }
    .button_hamburger
    {
        display: none;
    }
    .menu_button_one,
    .menu_button_two,
    .menu_button_three,
    .menu_button_four,
    .menu_button
    {
        width: 100%;
        text-align: center;
    }
    .myself_container
    {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .myself_box_left
    {
        display: inline-block;
        float: none;
        width: 80%;
        text-align: center;
    }
    .myself_box_right
    {
        display: inline-block;
        float: none;
        margin: 50px auto 0;
        padding: 0;
        width: 80%;
    }
    .sentence_text
    {
        width: auto;
        max-width: 440px;
        font-size: 24px;
        line-height: 36px;
        color: rgb(51,51,51);
    }
    .sentence_autor
    {
        width: 320px;
        color: rgb(51,51,51);
    }
}

/*----------любимые фильмы----------*/
@media (max-width: 720px)
{
    .film_title_box
    {
        width: 80%;
    }

    .film_box
    {
        min-width: 260px;
        width: 80%;
    }
}

/*---------мое фото---------*/
@media (max-width: 420px)
{
    .my_images
    {
        width: 100%;
        min-width: 250px;
        margin-left: auto;
        margin-right: auto;
    }
}