*
{
    margin: 0;
    padding: 0;
    background: rgb(238,238,238);
}

.translucent_pattern_page
{
    position: absolute;
    width: 1251px;
    height: 762px;
    top: 0px;
    left: 0px;
    opacity: 0.6;
    z-index: -1;
}

.translucent_container_page
{
    opacity: 0.6;
    height: 0px;
    position: absolute;
    width: 1920px;
    text-align: center;
    max-width: 100%;
}

.out_info1
{
    position: absolute;
    top: 10px;
    left: 10px;
    text-align: left;
    //background: rgb(150,250,240);
    font-family: verdana, tahoma, arial, helvetica, sans-serif, serif;
    font-size: 16px;
}

.header
{
    margin: 0 auto;
    width: 534px;
    line-height: 58px;
    box-sizing: border-box;
    padding-left: 20px;
    background: rgb(33,33,33);
    text-align: left;
    font-family: verdana, tahoma, arial, helvetica, sans-serif, serif;
    font-size: 18px;
    color: rgb(255,255,255);
    box-shadow: 0px 5px 5px rgba(0,0,0,0.4);
}

.gambler_box
{
    display: block;
    margin: 10px auto 0;
    position: relative;
    width: 486px;
    height: 52px;
    line-height: 52px;
    font-family: arial, helvetica, sans-serif, serif;
    font-size: 16px;
    color: rgb(79,79,79);
    text-align: left;
    //background: rgb(133,33,33);
}

.gambler_one
{
    float: left;
    text-align: left;
}

.gambler_one_image
{
    position: relative;
    top: 0px;
}

.gambler_one_text
{
    text-align: left;
    font-family: arial, helvetica, sans-serif, serif;
    font-size: 16px;
    color: rgb(79,79,79);
    position: relative;
    top: -5px;
}

.gambler_two
{
    float: right;
    text-align: right;
}

.gambler_two_image
{
    position: relative;
    top: 0px;
}

.gambler_two_text
{
    text-align: right;
    font-family: arial, helvetica, sans-serif, serif;
    font-size: 16px;
    color: rgb(79,79,79);
    position: relative;
    top: -5px;
}

.gambler_line_left
{
    display: none;
    margin-top: -14px;
    width: 100%;
    height: 2px;
    background: rgb(79,79,79);
    border: none;
    border-radius: 3px;
}

.gambler_line_right
{
    display: none;
    margin-top: -14px;
    width: 100%;
    height: 2px;
    background: rgb(79,79,79);
    border: none;
    border-radius: 3px;
}

.active
{
    display: block;
}


#game_field
{
    width: 282px;
    height: 282px;
    margin: 10px auto 0 auto;
}

.game_square
{
    float: left;
    height: 94px;
    width: 94px;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    padding-top: 8px;
}

.game_square1
{
    border-right: solid 2px rgb(224,224,224);
    border-bottom: solid 2px rgb(224,224,224);
}

.game_square2
{
    border-left: solid 2px rgb(224,224,224);
    border-right: solid 2px rgb(224,224,224);
    border-bottom: solid 2px rgb(224,224,224);
}

.game_square3
{
    border-left: solid 2px rgb(224,224,224);
    border-bottom: solid 2px rgb(224,224,224);
}

.game_square4
{
    border-top: solid 2px rgb(224,224,224);
    border-right: solid 2px rgb(224,224,224);
    border-bottom: solid 2px rgb(224,224,224);
    //background: rgb(79,79,79);
}

.game_square5
{
    border: solid 2px rgb(224,224,224);
}

.game_square6
{
    border-top: solid 2px rgb(224,224,224);
    border-left: solid 2px rgb(224,224,224);
    border-bottom: solid 2px rgb(224,224,224);
}

.game_square7
{
    border-top: solid 2px rgb(224,224,224);
    border-right: solid 2px rgb(224,224,224);
}

.game_square8
{
    border-top: solid 2px rgb(224,224,224);
    border-right: solid 2px rgb(224,224,224);
    border-left: solid 2px rgb(224,224,224);
}

.game_square9
{
    border-top: solid 2px rgb(224,224,224);
    border-left: solid 2px rgb(224,224,224);
}

.float_clear
{
    clear: both;
}

.time_field
{
    display: block;
    margin: 40px auto 0;
    border: none;
    font-family: verdana, tahoma, arial, helvetica, sans-serif, serif;
    font-size: 24px;
    color: rgb(79,79,79);
    //background: rgb(238,238,238);
    text-align: center;
}

.info_field
{
    font-family: verdana, tahoma, arial, helvetica, sans-serif, serif;
    font-size: 14px;
    color: rgb(79,79,79);
    margin: 20px auto;
    width: 400px;
    background: rgb(240,240,240);
    border: solid 1px rgb(220,220,220);
    text-align: center;
    padding: 20px 0;
}

.button_surrender
{
    display: block;
    margin: 33px auto 0;
    padding: 10px 0px;
    width: 138px;
    cursor: pointer;
    text-align: center;
    font-family: arial;
    font-size: 14px;
    background: rgb(0,150,136);
    color: rgb(245,245,245);
    text-decoration: none;
    border-radius: 2px;
    transition: 300ms;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.4);
}

.button_surrender:hover
{
    background: rgb(0,120,110);
    color: rgb(255,255,255);
    transition: 300ms;
}

h1
{
    text-align: center;
    margin-top: 50px;
    font-family: verdana, tahoma, arial, helvetica, sans-serif, serif;
}